# See https://docs.github.com/articles/about-codeowners for syntax help.
# This file controls who is automatically requested for review on pull
# requests. Order matters: the last matching pattern wins.

* @arodoni
